<div id="tourlist" class="tourlist">
	
	Groups:
	<span ng-repeat="group in tourGroups">
		<a  href="#/{{group}}">{{group}}</a> <span ng-hide="$last">|</span>
	</span>

	<table class="tourlistTable">
		<tr>
			<th></th>
			<th ng-click="sortProperty = 'stats.name'" ng-class="{highlightSorting: sortProperty=='stats.name'}">Name</th>
			<th class="center" ng-click="sortProperty = 'stats.date'" ng-class="{highlightSorting: sortProperty=='stats.date'}">Datum</th>
			<th class="center" ng-click="sortProperty = 'stats.duartion'" ng-class="{highlightSorting: sortProperty=='stats.duartion'}">Dauer</th>
			<th class="center" ng-click="sortProperty = 'stats.eleMin'" ng-class="{highlightSorting: sortProperty=='stats.eleMin'}">min H.</th>
			<th class="center" ng-click="sortProperty = 'stats.eleMax'" ng-class="{highlightSorting: sortProperty=='stats.eleMax'}">max H.</th>
			<th class="center" ng-click="sortProperty = 'stats.eleRise'" ng-class="{highlightSorting: sortProperty=='stats.eleRise'}">Höhenm.</th>
			<th class="center" ng-click="sortProperty = 'stats.distance'" ng-class="{highlightSorting: sortProperty=='stats.distance'}">Distanz</th>
			<th></th>
		</tr>
		<tr>
			<td class="center"><input type="checkbox" ng-click="selectionChangedForAll($event)"></td>
			<td><input ng-model="filter.name"></td>
			<td class="center"><input ng-model="filter.date" size="5" tooltip="Datum String (z.B: 05.2014 oder 2014)" tooltip-placement="bottom"></td>
			<td class="center"><input ng-model="filter.duration" size="5" tooltip="Dauer in Minuten (z.B: >200)" tooltip-placement="bottom"></td>
			<td></td>
			<td></td>
			<td class="center"><input ng-model="filter.eleRise" size="5" tooltip="Höhenmeter (z.B: <1000)" tooltip-placement="bottom"></td>
			<td class="center"><input ng-model="filter.distance" size="5" tooltip="Distanz in Metern (z.B: <25000)" tooltip-placement="bottom"></td>
			<td></td>
		</tr>
		<!--<tr ng-repeat="tour in tourlist | filter:{name: filter.name}">-->
		<tr ng-repeat="tour in tourlistMetaData | filter:myFilter(filter) | orderBy: sortProperty">
			<td class="center"><input type="checkbox" ng-model="tour.selected"></td>
			<td style="color: {{tour.color}}" tooltip-html-unsafe="{{tour.desc}}" tooltip-placement="right" tooltip-append-to-body="true" ng-mouseover="showDesc(tour.desc)">{{tour.name}}</td>
			<td class="center">{{tour.stats.date | date:"dd.MM.yyyy"}}</td>
			<td class="center">{{tour.stats.duration | formatDuration}}</td>
			<td class="center">{{tour.stats.eleMin | number:0}}</td>
			<td class="center">{{tour.stats.eleMax | number:0}}</td>
			<td class="center">{{tour.stats.eleRise | number:0}}</td>
			<td class="center">{{tour.stats.distance | number:0}}</td>
			<td class="center"><a href="{{tour.path}}">gpx</a></td>
		</tr>
		<tr>
			<td></td>
			<td>Summe:</td>
			<td></td>
			<td class="center">{{sum.duration | formatDuration}}</td>
			<td></td>
			<td></td>
			<td class="center">{{sum.eleRise | number:0}}</td>
			<td class="center">{{sum.distance | number:0}}</td>
			<td></td>
		</tr>
	</table>
	
</div>